<div class="container">
	<h3>Importar Socios</h3>
		<div class="col-md-6">
			<div class="jumbotron">
				<%= form_tag import_customers_path, multipart:true do %>
				<%= file_field_tag :file %>
				<%= submit_tag "Importar", class:"btn btn-default" %>
				<% end %>
			</div>
		</div>
</div>